.full-size {
  width: 100%;
  height: 100%;
}

.flex-wrap {
  /* display: flex;
    flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.one-third {
  /* width: 33.33%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 0.5s ease-in-out;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 6rem;
}
