.icon-section {
  background: #333a;
  text-align: center;
  margin: 0;
  padding: 20px;
  /* width: 100%; */
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

/* .icon-section::before {
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
    content: '';
    background: #1cb9c8;
    box-sizing: border-box;
} */

.icon {
  border-radius: 50%;
}

.icon::before {
  border: 2px solid #f5f5f5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* border-radius: 50%; */
  /* color: #f5f5f5; */
  display: block;
  font-size: 25px;
  line-height: 56px;
  margin: auto;
  width: 60px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.icon-section:hover {
  background: #333;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* .icon-section:hover .icon-wrapper {
    background: #3333;
} */

.icon-section:hover .icon-box {
  margin-top: -10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon-section:hover .icon {
  background: snow;
  color: #1cb9c8;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
